.App {
  text-align: center;
  zoom: 75%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media print {

  .printable-content {
    display: block; /* Ensure modal content is displayed */
    position: relative; /* Adjust positioning */
    background: white; /* Add a background for clarity */
    margin: 0 auto; /* Center content */
    padding: 20px; /* Add padding */
  }

  @page {
    size: A4; /* A4 page size */
    margin: 20mm; /* Margins for content */
  }


  .no-print {
    display: none !important;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scan-line {
  0% {
    top: -2px;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}

.animate-scan-line {
  animation: scan-line 1.5s linear infinite;
  background: rgba(0, 0, 255, 0.4);
  height: 2px; /* Scan line thickness */
}

#uploaded-image {
  display: block; /* Ensure the image is displayed when uploaded */
}

.hidden {
  display: none;
}


@keyframes scan-line {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.animate-scan-line {
  animation: scan-line 2s linear infinite;
}
