@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primarycolor:#1e40af;
    --textcolor:#fff;
    --count: #2563eb;
    --maincontainbg:#fff;
    --tablebg:#f1f5f9;
    --pagebg:#f5f5f5;

    /* dashbord */
    --dcolor:#EF4444;
    --icon:#28e731;
    --bgdashColor:#f4f5f7;
}
.bg-blue-800{
    background-color:var(--primarycolor) !important;
}
.text-white {
    color:var(--textcolor) !important;
}
.bg-blue-600{
    background-color: var(--count) !;
}
.bg-white{
    background-color: var(--maincontainbg);
}
.bg-slate-100{
    background-color: var(--tablebg);
}
.bg-neutral-100{
    background-color: var(--pagebg);

}


/* For DashBord */
.border-blue-50{
   /* olor: var(--Dcolor); */
   border-color : var(--dcolor) ;
}
.text-blue-100{
    text : var(--icon);
}
.bg-gray-50{
    background-color: var(--bgdashColor);
}



/* for profile */

