@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primarycolor:#1e40af;
    --textcolor:#fff;
    --count: #2563eb;
    --maincontainbg:#fff;
    --tablebg:#f1f5f9;
}
.bg-blue-800{
    background-color:var(--primarycolor) !important;
}
.text-white {
    color:var(--textcolor) !important;
}
.bg-blue-600{
    background-color: var(--count) !;
}
.bg-white{
    background-color: var(--maincontainbg);
}
.bg-slate-100{
    background-color: var(--tablebg);
}
