@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primarycolor:#1e40af;
    --textcolor:#fff;
    --count: #2563eb;
    --maincontainbg:#fff;
    --tablebg:#f1f5f9;
    --pagebg:#f5f5f5;

    /* dashbord */
    --dcolor:#EF4444;
    --icon:#28e731;
    --bgdashColor:#f4f5f7;
}
.bg-blue-800{
    /* background:linear-gradient(to right, #2563eb , #a855f7 , #ec4899) !important; */
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}
.bg-blue-verticle{
    background: linear-gradient(183deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 16rem;

}
.text-white {
    color:var(--textcolor) !important;
}
.bg-blue-600{
    background-color: var(--count) !;
}
.bg-white{
    background-color: var(--maincontainbg);
}
.bg-slate-100{
    background-color: var(--tablebg);
}
.bg-neutral-100{
    background-color: var(--pagebg);

}
.bg-blue-950 {
    --tw-bg-opacity: 1;
    background-color: rgb(145 169 249) !important;
}
td{
    font-size: .8rem !important;
}
/* For DashBord */
.border-blue-50{
   /* olor: var(--Dcolor); */
   border-color : var(--dcolor) ;
}
.text-blue-100{
    text : var(--icon);
}
.bg-gray-50{
    background-color: var(--bgdashColor);
}



/* Add this to your CSS file */
.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  

/* login-- */
.loginLeft{
    background: url(./Assets/image.png) no-repeat;
    background-size: cover;
    background-position: center centerD;
}

/* sidebar-- */

.custom-scrollbar {
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0px; /* Chrome, Safari, Edge */
    background: transparent !important; /* No background */
  }

  .hover-scrollbar:hover {
    scrollbar-width: thin;
  }

  .hover-scrollbar:hover::-webkit-scrollbar {
    width: 6px;
  }

  .hover-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5); /* Scroll thumb color */
    border-radius: 6px;
  }

  .hover-scrollbar:hover::-webkit-scrollbar-track {
    background: transparent !important; /* Still keep track invisible */
  }
  ::-webkit-scrollbar-track {
    background: transparent !important;
  }